<ul>
    <li>menu1</li>
    <p class="bg-white text-danger p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <li>menu2</li>
    <p class="bg-white text-danger p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <li>menu3</li>
    <p class="bg-white text-danger p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <li>menu4</li>
    <p class="bg-white text-danger p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <li>menu5</li>
    <p class="bg-white text-danger p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <li>menu6</li>
    <p class="bg-white text-danger p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <li>menu7</li>
    <p class="bg-white text-danger p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <li>menu8</li>
    <p class="bg-white text-danger p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <li>menu9</li>
    <p class="bg-white text-danger p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <li>menu10</li>
    <p class="bg-white text-danger p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <li>menu11</li>
    <p class="bg-white text-danger p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
</ul>
